TZ=Asia/Tokyo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PG_PASSWORD=postgres
PG_ADMIN_DEFAULT_EMAIL=example@example.com
PG_ADMIN_DEFAULT_PASSWORD=postgres
PG_ADMIN_PORT=25433
PG_DB_NAME=kakeibo
PG_DB_PORT=25432
