html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Menlo;
}

* {
  box-sizing: border-box;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th {
  border-bottom: solid 1px #999;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,
table td{
  text-align: left;
  padding: 8px 0;
}
